# database config
INDEXER_DB=''
SERVICE_DB=''
CACHED_DB=''
INFLUX_DB=''

# scanner config
ACALA_ENDPOINT='wss://node-6661046769230852096.jm.onfinality.io/ws'

# graphQL server config
GRAPHQL_SERVER_PORT=4000